.station-list fluent-option {
    width: 290px;
    height: 110px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    border-radius: 8px;
}

.station-list .selected {
    border: 1px solid var(--accent-fill-rest);
}

.station-list .selected::before {
    display: none;
}

fluent-listbox.station-list:focus-within {
    outline: none;
}

div:has(fluent-listbox.station-list) {
    height: 100%;
}

.station-list {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;
    justify-content: stretch;
    justify-items: start;
    padding: 5px;
    max-height: calc(100% - 145px) !important;
}

.station-card {  
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 90px 180px;    
    gap: 5px;
    padding: 4px !important;
}

.station-card div {
    text-wrap-mode: wrap;
    text-overflow: ellipsis;
}

.player {
    min-height: 100px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest); 
    border-radius: calc(var(--control-corner-radius) * 1px);
    overflow: hidden;
}

.player-button {
    min-width: 60px;
    height: 60px;
    margin: 0 4px;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.favorite-icon {
    vertical-align: middle;
}

.country-flag-icon {
    width: 22px;
    height: 16px;
    vertical-align: middle;
}

fluent-anchor.appName.hypertext::part(control) {
  font-size: 50px;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px var(--fill-color);
}

fluent-slider[orientation="vertical"]::part(track-container) {
    background: var(--accent-fill-rest);
}

fluent-slider[orientation="vertical"]::part(track-start) {
    background: var(--neutral-fill-strong-rest);
}

.historyLink {
    text-overflow: ellipsis; 
    overflow: hidden; 
    display: block; 
    max-width: 100%;
}