.station-list fluent-option {
    width: 290px;
    height: 110px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
}

.station-list .selected {
    border: 1px solid var(--accent-fill-rest);
}

.station-list .selected::before {
    display: none;
}

fluent-listbox.station-list:focus-within {
    outline: none;
}

.station-list {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;
    justify-content: stretch;
    justify-items: start;
    padding: 5px;
    max-height: calc(100dvh - 145px) !important;
}

.station-card {  
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 90px 180px;    
    gap: 5px;
    padding: 4px !important;
}

.station-card div {
    text-wrap-mode: wrap;
    text-overflow: ellipsis;
}

.player {
    min-height: 100px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 90px 1fr 50px;
    grid-template-rows: 90px;
    gap: 5px;
    padding: 2px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest); 
    border-radius: calc(var(--control-corner-radius) * 1px);
    overflow: hidden;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 8px;
}